@use '../functions' as *;
@use '../mixins' as *;

// About Hero
.about-hero {
  padding: get-size('800') 0;
  @include apply-theme-color('background', get-color('light'), get-color('dark'));

  @include media-query('md') {
    padding: get-size('900') 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: get-size('700');

    @include media-query('md') {
      flex-direction: row;
      align-items: center;
      gap: get-size('800');
    }
  }

  &__text {
    flex: 1;

    p {
      @include text-muted;
    }
  }

  &__title {
    margin-bottom: get-size('500');
    @include section-title($centered: false, $color-style: 'default');
  }

  &__image {
    flex-shrink: 0;
    display: flex;
    justify-content: center;

    @include media-query('md') {
      justify-content: flex-end;
    }

    img {
      width: 100%;
      max-width: 300px;
      height: auto;
      border-radius: get-size('500');
      @include apply-theme-color('background', get-color('light-shade'), get-color('dark-shade'));

      @include media-query('md') {
        max-width: 350px;
      }
    }
  }
}

// About Story
.about-story {
  &__title {
    margin-bottom: get-size('600');
    @include section-title($centered: false);
  }

  &__content {
    p, li {
      @include text-muted;
    }

    ul {
      padding-left: get-size('600');
      margin: get-size('500') 0;

      li {
        margin-bottom: get-size('300');

        &::marker {
          @include apply-theme-color('color', get-color('secondary'), get-color('secondary-glare'));
        }
      }
    }
  }
}

// About Why
.about-why {
  &__title {
    margin-bottom: get-size('600');
    @include section-title($centered: false);
  }

  &__content {
    p, li {
      @include text-muted;
    }

    ul {
      padding-left: get-size('600');
      margin: get-size('500') 0;

      li {
        margin-bottom: get-size('300');

        &::marker {
          @include apply-theme-color('color', get-color('secondary'), get-color('secondary-glare'));
        }
      }
    }
  }
}

// About Expertise
.about-expertise {
  &__title {
    margin-bottom: get-size('600');
    @include section-title($centered: false);
  }

  &__content {
    display: grid;
    gap: get-size('700');

    @include media-query('md') {
      grid-template-columns: 1fr 1fr;
      gap: get-size('800');
    }
  }

  &__services,
  &__values {
    padding: get-size('600');
    border-radius: get-size('400');
    @include apply-theme-color('background', get-color('light-shade'), get-color('dark-shade'));

    p, li {
      @include text-muted;
    }

    p {
      margin-bottom: get-size('400');

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      padding-left: get-size('600');
      margin: get-size('400') 0;

      li {
        margin-bottom: get-size('300');

        &::marker {
          @include apply-theme-color('color', get-color('secondary'), get-color('secondary-glare'));
        }

        strong {
          @include apply-theme-color('color', get-color('dark'), get-color('light'));
        }
      }
    }
  }
}

// About Process
.about-process {
  &__title {
    margin-bottom: get-size('600');
    @include section-title($centered: false);
  }

  &__intro {
    margin-bottom: get-size('600');

    p {
      @include text-muted;
      margin-bottom: get-size('400');
    }
  }

  &__items {
    display: grid;
    gap: get-size('500');

    @include media-query('md') {
      grid-template-columns: repeat(3, 1fr);
      gap: get-size('600');
    }
  }

  &__item {
    height: 100%;
  }

  &__closing {
    margin-top: get-size('600');
    @include text-muted;
  }
}

// About Personal
.about-personal {
  &__title {
    margin-bottom: get-size('600');
    @include section-title($centered: false);
  }

  &__content {
    p, li {
      @include text-muted;
    }

    ul {
      padding-left: get-size('600');
      margin: get-size('500') 0;

      li {
        margin-bottom: get-size('300');

        &::marker {
          @include apply-theme-color('color', get-color('secondary'), get-color('secondary-glare'));
        }
      }
    }
  }
}
