@use 'sass:map';
@use '../config' as *;
@use '../functions' as *;
@use '../mixins' as *;

// Blog listing page
.blog {
  padding-block: get-size('700');

  &__header {
    margin-block-end: get-size('700');
    text-align: center;
  }

  &__title {
    font-size: get-size('900');
    @include apply-theme-color('color', get-color('primary'), get-color('secondary-glare'));
    margin-block-end: get-size('400');
  }

  &__intro {
    font-size: get-size('500');
    @include apply-theme-color('color', get-color('dark-glare'), get-color('light-shade'));
    max-width: 50ch;
    margin-inline: auto;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: get-size('600');
    max-width: map.get($container-widths, 'wide');
    margin-inline: auto;

    @include media-query('md') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-query('lg') {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    display: flex;
  }
}

// Tag styling
.tag {
  display: inline-block;
  font-size: get-size('300');
  padding: 0.15em 0.5em;
  border-radius: 3px;
  @include apply-theme-color('background-color', get-color('light-shade'), get-color('dark-glare'));
  @include apply-theme-color('color', get-color('dark-glare'), get-color('light-shade'));
  text-transform: lowercase;
}

// Card tags for blog listing
.card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: get-size('300');
  margin-block-start: auto;
  padding-block-start: get-size('400');
}

// Individual blog post
.post {
  padding-block-end: get-size('700');

  &__hero {
    position: relative;
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    margin-block-end: get-size('700');

    @include media-query('md') {
      max-height: 500px;
    }
  }

  &__hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include transition-all(cubic-bezier(0.4, 0, 0.2, 1), 300ms);
  }

  &__hero:hover &__hero-image {
    transform: scale(1.05);
  }

  &__hero-attribution {
    position: absolute;
    bottom: get-size('300');
    right: get-size('300');
    font-size: get-size('300');
    color: get-color('light-glare');
    margin: 0;
    padding: get-size('200') get-size('300');
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    border-radius: 3px;

  }

  &__hero-attribution-link {
    color: get-color('tertiary');
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.2s ease, color 0.2s ease;

    &:hover {
      color: get-color('tertiary-glare');
      text-decoration-color: get-color('tertiary-glare');
    }
  }

  &__header {
    margin-block-end: get-size('700');
    max-width: map.get($container-widths, 'medium');
    margin-inline: auto;
  }

  &__back {
    display: inline-block;
    font-size: get-size('400');
    margin-block-end: get-size('300');
    text-decoration: none;
    @include apply-theme-color('color', get-color('dark-glare'), get-color('light-shade'));

    &:hover {
      @include apply-theme-color('color', get-color('secondary'), get-color('tertiary-glare'));
    }
  }

  &__title {
    font-size: get-size('800');
    @include apply-theme-color('color', get-color('primary'), get-color('secondary-glare'));
    line-height: 1.2;
    margin-block-end: get-size('400');

    @include media-query('md') {
      font-size: get-size('major');
    }
  }

  &__excerpt {
    font-size: get-size('500');
    @include apply-theme-color('color', get-color('dark-glare'), get-color('light-shade'));
    font-style: italic;
    margin-block-end: get-size('400');
  }

  &__meta {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: get-size('300');
    font-size: get-size('400');
    @include apply-theme-color('color', get-color('dark-glare'), get-color('light-shade'));
  }

  &__meta-separator {
    opacity: 0.5;
  }

  &__content {
    max-width: map.get($container-widths, 'medium');
    margin-inline: auto;

    h2 {
      font-size: get-size('700');
      @include apply-theme-color('color', get-color('primary'), get-color('secondary-glare'));
      margin-block-start: get-size('700');
    }

    h3 {
      font-size: get-size('600');
      @include apply-theme-color('color', get-color('primary-glare'), get-color('tertiary-glare'));
      margin-block-start: get-size('600');
    }

    p {
      line-height: 1.7;
      text-wrap: auto;
    }

    .inline-logo {
      display: inline-block;
      height: 1em;
      width: auto;
      vertical-align: middle;
    }

    ul, ol {
      padding-inline-start: get-size('500');

      li {
        margin-block-end: get-size('300');
        line-height: 1.6;
      }
    }

    strong {
      @include apply-theme-color('color', get-color('dark-shade'), get-color('light-glare'));
    }

    a {
      @include apply-theme-color('color', get-color('secondary'), get-color('tertiary-glare'));

      &:hover {
        @include apply-theme-color('color', get-color('secondary-shade'), get-color('tertiary'));
      }
    }
  }

  // Previous/Next navigation
  &__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: get-size('500');
    margin-block-start: get-size('800');
    padding-block-start: get-size('600');
    border-block-start: 1px solid;
    @include apply-theme-color('border-color', get-color('light-shade'), get-color('dark-glare'));
    max-width: map.get($container-widths, 'medium');
    margin-inline: auto;
  }

  &__nav-item {
    &--next {
      text-align: end;
    }
  }

  &__nav-link {
    display: block;
    text-decoration: none;

    &:hover .post__nav-title {
      text-decoration: underline;
      @include apply-theme-color('color', get-color('primary-glare'), get-color('tertiary'));
    }
  }

  &__nav-label {
    display: block;
    font-size: get-size('300');
    text-transform: uppercase;
    letter-spacing: 0.05em;
    @include apply-theme-color('color', get-color('dark-glare'), get-color('light-shade'));
    margin-block-end: get-size('300');
  }

  &__nav-title {
    font-size: get-size('400');
    @include apply-theme-color('color', get-color('primary'), get-color('tertiary-glare'));
    line-height: 1.4;
    font-weight: bold;
  }

  // Related posts section
  &__related {
    margin-block-start: get-size('800');
    padding-block-start: get-size('600');
    border-block-start: 1px solid;
    @include apply-theme-color('border-color', get-color('light-shade'), get-color('dark-glare'));
  }

  &__related-title {
    font-size: get-size('600');
    @include apply-theme-color('color', get-color('primary'), get-color('secondary-glare'));
    margin-block-end: get-size('500');
    text-align: center;
  }

  &__related-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: get-size('500');

    @include media-query('md') {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__related-item {
    display: flex;
  }
}
