@use '../functions' as *;
@use '../mixins' as *;

// Services Hero
.services-hero {
  padding: get-size('800') 0;
  @include apply-theme-color('background', get-color('light'), get-color('dark'));

  @include media-query('md') {
    padding: get-size('900') 0;
  }

  &__content {
    p {
      @include text-muted;
    }
  }

  &__title {
    margin-bottom: get-size('500');
    @include section-title($centered: false, $color-style: 'default');
  }

  &__list {
    padding-left: get-size('600');
    margin: get-size('500') 0;

    li {
      margin-bottom: get-size('300');
      font-weight: 600;
      @include apply-theme-color('color', get-color('dark'), get-color('light'));

      &::marker {
        @include apply-theme-color('color', get-color('secondary'), get-color('secondary-glare'));
      }
    }
  }
}

// Service Detail Sections
.service-detail {
  padding: get-size('500') 0;

  &__header {
    margin-bottom: get-size('600');
  }

  &__title {
    margin-bottom: get-size('300');
    @include section-title($centered: false);
  }

  &__subtitle {
    font-size: get-size('500');
    font-style: italic;
    @include text-muted;

    @include media-query('md') {
      font-size: get-size('600');
    }
  }

  &__content {
    display: grid;
    gap: get-size('600');
    margin-bottom: get-size('600');

    @include media-query('md') {
      grid-template-columns: 1fr 1fr;
      gap: get-size('800');
    }
  }

  &__description,
  &__features {
    p, li {
      @include text-muted;
    }

    p {
      margin-bottom: get-size('400');
    }

    ul {
      padding-left: get-size('600');
      margin: get-size('400') 0;

      li {
        margin-bottom: get-size('300');

        &::marker {
          @include apply-theme-color('color', get-color('secondary'), get-color('secondary-glare'));
        }
      }
    }
  }

  .note {
    margin-bottom: get-size('600');
  }
}
