@use '../functions' as *;
@use '../mixins' as *;

// Services Hero
.services-hero {
  padding: get-size('800') 0;
  @include apply-theme-color('background', get-color('light'), get-color('dark'));

  @include media-query('md') {
    padding: get-size('900') 0;
  }

  &__content {
    p {
      @include apply-theme-color('color', get-color('dark-glare'), get-color('light-shade'));
    }
  }

  &__title {
    font-size: get-size('700');
    font-weight: 700;
    line-height: 1.2;
    @include apply-theme-color('color', get-color('dark'), get-color('light'));

    @include media-query('md') {
      font-size: get-size('800');
    }
  }

  &__list {
    padding-left: get-size('600');
    margin: get-size('500') 0;

    li {
      margin-bottom: get-size('300');
      font-weight: 600;
      @include apply-theme-color('color', get-color('dark'), get-color('light'));

      &::marker {
        @include apply-theme-color('color', get-color('secondary'), get-color('secondary-glare'));
      }
    }
  }
}

// Service Detail Sections
.service-detail {
  padding: get-size('700') 0;

  &__header {
    margin-bottom: get-size('600');
  }

  &__title {
    font-size: get-size('700');
    font-weight: 700;
    margin-bottom: get-size('300');
    @include apply-theme-color('color', get-color('primary'), get-color('secondary-glare'));

    @include media-query('md') {
      font-size: get-size('800');
    }
  }

  &__subtitle {
    font-size: get-size('500');
    font-style: italic;
    @include apply-theme-color('color', get-color('dark-glare'), get-color('light-shade'));

    @include media-query('md') {
      font-size: get-size('600');
    }
  }

  &__content {
    display: grid;
    gap: get-size('600');
    margin-bottom: get-size('600');

    @include media-query('md') {
      grid-template-columns: 1fr 1fr;
      gap: get-size('800');
    }
  }

  &__description,
  &__features {
    p, li {
      @include apply-theme-color('color', get-color('dark-glare'), get-color('light-shade'));
    }

    p {
      margin-bottom: get-size('400');
    }

    ul {
      padding-left: get-size('600');
      margin: get-size('400') 0;

      li {
        margin-bottom: get-size('300');

        &::marker {
          @include apply-theme-color('color', get-color('secondary'), get-color('secondary-glare'));
        }
      }
    }
  }

  &__note {
    padding: get-size('500');
    border-radius: get-size('400');
    margin-bottom: get-size('600');
    font-style: italic;
    @include apply-theme-color('background', get-color('light-shade'), get-color('dark-shade'));
    @include apply-theme-color('color', get-color('dark-glare'), get-color('light-shade'));
  }

  &__fit {
    padding: get-size('500');
    border-radius: get-size('400');
    border-left: 4px solid;
    @include apply-theme-color('background', get-color('light-shade'), get-color('dark-shade'));
    @include apply-theme-color('border-color', get-color('primary'), get-color('secondary-glare'));
    @include apply-theme-color('color', get-color('dark-glare'), get-color('light-shade'));

    strong {
      @include apply-theme-color('color', get-color('primary'), get-color('secondary-glare'));
    }
  }
}

// Services Unsure Section
.services-unsure {
  text-align: center;
  padding: get-size('600') get-size('500');
  border-radius: get-size('400');
  @include apply-theme-color('background', get-color('light-shade'), get-color('dark-shade'));

  &__title {
    font-size: get-size('500');
    font-weight: 600;
    margin-bottom: get-size('300');
    @include apply-theme-color('color', get-color('dark'), get-color('light'));

    @include media-query('md') {
      font-size: get-size('600');
    }
  }

  p {
    font-size: get-size('400');
    @include apply-theme-color('color', get-color('dark-glare'), get-color('light-shade'));
    margin-bottom: get-size('300');

    &:last-child {
      margin-bottom: 0;
    }
  }
}
