# Proxy analytics scripts
[[redirects]]
  from = "/script.js"
  to = "https://cloud.umami.is/script.js"
  status = 200
  force = true

# HTTPS
[[redirects]]
  from = "https://anthonyutt.dev"
  to = "https://antdev.sh"
  status = 301
  force = true

[[redirects]]
  from = "https://www.anthonyutt.dev"
  to = "https://antdev.sh"
  status = 301
  force = true

[[redirects]]
  from = "https://gentle-paprenjak-4a1cca.netlify.app"
  to = "https://antdev.sh"
  status = 301
  force = true

# HTTP
[[redirects]]
  from = "http://anthonyutt.dev"
  to = "https://antdev.sh"
  status = 301
  force = true

[[redirects]]
  from = "http://www.anthonyutt.dev"
  to = "https://antdev.sh"
  status = 301
  force = true

[[redirects]]
  from = "http://gentle-paprenjak-4a1cca.netlify.app"
  to = "https://antdev.sh"
  status = 301
  force = true
