[[redirects]]
  from = "https://anthonyutt.dev"
  to = "https://antdev.sh"
  status = 301
  force = true

[[redirects]]
  from = "https://gentle-paprenjak-4a1cca.netlify.app"
  to = "https://antdev.sh"
  status = 301
  force = true
