<div class="[ note {% if accent %}note--accent{% endif %} ]">
  {% if noteTitle %}
    <strong class="[ note__title ]">{{ noteTitle }}</strong>
  {% endif %}
  <p class="[ note__text ]">{{ text }}</p>
</div>
