{% capture toggle_id %}theme-toggle-{% assetHash %}{% endcapture %}
<input id="{{ toggle_id }}" class="[ theme-toggle ]" type="checkbox" onclick="toggleDarkMode()">
<label for="{{ toggle_id }}" class="toggle-label">Toggle</label>
