@use 'config' as *;
@use 'mixins' as *;
@use 'functions' as *;

@use 'mixins/generate-utility-classes' as generator;

@use 'reset';
@use 'utilities';
@use 'blocks';

:root {
  --flow-space: #{get-size('600')};
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
	line-height: 1.5;
	font-size: get-size('400');
  text-wrap: balance;

	@include apply-utility('font', 'base');

  @include transition-color;
  @include apply-theme-color('background', get-color('light'), get-color('dark'));
  @include apply-theme-color('color', get-color('dark'), get-color('light'));
}

a:not([class]) {
	text-decoration: none;
	text-underline-offset: 0.2em;
	transition: color 0.2s ease, text-decoration-color 0.2s ease;
	@include apply-theme-color('color', get-color('primary'), get-color('tertiary-glare'));
  font-weight: bold;

	&:hover {
    @include apply-theme-color('color', get-color('primary-glare'), get-color('tertiary'));
		@include apply-theme-color('text-decoration-color', get-color('primary'), get-color('tertiary-glare'));
		text-decoration: underline;
	}
}

main:focus {
	outline: none;
}

h1,
h2,
h3,
h4 {
	font-weight: 900;

	@include apply-utility('font', 'accent');
	@include apply-utility('leading', 'flat');
}

// High contrast selection because it can help visually-impaired
// folks read the text easier
::selection {
  @include transition-color;
	@include apply-theme-color('color', get-color('light'), get-color('dark'));

	// We set this as an RGBA because that’s how you get a solid color, by using 0.99
	// alpha value. Browsers are wild.
	@include apply-theme-color('background', rgba(get-color('dark-shade'), 0.99), rgba(get-color('light-glare'), 0.99));
}

// Scrollbar styles
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: get-color('dark-glare');
	border-radius: 4px;

	&:hover {
		background-color: get-color('dark');
	}
}

html.dark {
	::-webkit-scrollbar-thumb {
		background-color: get-color('light-shade');

		&:hover {
			background-color: get-color('light');
		}
	}
}

@include generator.generate-utility-classes();
