{% if useFullTitle == true %}
  {% set pageTitle = title %}
{% else %}
  {% set pageTitle %}
    {{ [title, site.name] | join(" | ") }}
  {% endset %}
{% endif %}
{% set pageUrl %}{{ [site.baseUrl, page.url] | join }}{% endset %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="googlebot-news" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="generator" content="{{ eleventy.generator }}">

    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="canonical" href="{{ pageUrl }}" />

    <!-- Twitter Card data -->
    <meta property="og:title" content="{{ pageTitle }}" />
    <meta property="og:url" content="{{ pageUrl }}"/>
    <meta property="og:description" content="{{ description }}" />
    {% if image %}<meta property="og:image" content="https://www.example.com/sample.jpg"/>{% endif %}

    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    {% include './partials/header.html.njk' %}
    {% block content %}{% endblock %}
  </body>
</html>
