@use '../../functions' as *;
@use '../../mixins' as *;

.footer {
  position: relative;
  padding: get-size('800') 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @include apply-theme-color('background', get-color('light-shade'), get-color('dark-shade'));
  @include apply-utility('font', 'accent');

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: get-size('600');
    width: 100%;
    max-width: 8rem;

    svg {
      max-width: 100%;
      height: auto;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: get-size('400');

    a.nav-link {
      padding: 0;

      &:before {
        width: 100%;
        height: 0.25rem;
        top: 100%;
        left: 0;
        margin-top: 0.25rem;
      }

      &:hover {
        color: unset;
      }
    }
  }

  #copyright {
    position: absolute;
    bottom: 4px;
    width: 100%;
    text-align: center;
    font-size: 11px;
    line-height: 11px;
    @include apply-theme-color('color', get-color('dark-glare'), get-color('light-shade'));
    opacity: 50%;
  }
}
