@use '../../functions' as *;
@use '../../mixins' as *;

.footer {
  position: relative;
  padding: get-size('700') get-size('500') 5rem;
  @include apply-theme-color('background', get-color('light-shade'), get-color('dark-shade'));

  &__inner {
    display: flex;
    flex-direction: column;
    gap: get-size('600');
    max-width: 900px;
    margin-inline: auto;

    @include media-query('md') {
      flex-direction: row;
      align-items: flex-start;
      gap: get-size('800');
    }
  }

  &__column {
    flex: 1;
    text-align: center;

    &:first-child {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include media-query('md') {
        align-items: flex-end;
      }
    }

    @include media-query('md') {
      text-align: left;
    }
  }

  &__logo {
    max-width: 6rem;
    margin-bottom: get-size('500');

    svg {
      width: 100%;
      height: auto;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: get-size('300');
    @include apply-utility('font', 'accent');

    @include media-query('md') {
      align-items: flex-end;
    }

    a.nav-link {
      padding: 0;
      font-size: get-size('400');
      display: inline-block;
      width: auto;

      &:before {
        width: 100%;
        height: 0.25rem;
        top: 100%;
        left: 0;
        margin-top: 0.25rem;
      }

      &:hover {
        color: unset;
      }
    }
  }

  &__about {
    text-align: center;
    flex: 2;

    @include media-query('md') {
      text-align: left;
      align-self: flex-end;
    }
  }

  &__heading {
    font-size: get-size('500');
    font-weight: 700;
    margin-bottom: get-size('400');
    @include apply-theme-color('color', get-color('primary'), get-color('secondary-glare'));
  }

  &__text {
    font-size: get-size('300');
    line-height: 1.6;
    margin: 0;
    @include apply-theme-color('color', get-color('dark-glare'), get-color('light-shade'));
  }

  &__contact {
    display: flex;
    flex-wrap: wrap;
    gap: get-size('300') get-size('500');
    margin-top: get-size('400');
  }

  &__contact-link {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    font-size: get-size('300');
    text-decoration: none;
    @include apply-theme-color('color', get-color('dark-glare'), get-color('light-shade'));

    .footer__contact-icon {
      width: 1.6em;
      height: 1.6em;
      flex-shrink: 0;
      @include apply-theme-color('background', get-color('primary'), get-color('tertiary-glare'));
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      @include apply-theme-color('filter',
        drop-shadow(0 0 0.4px get-color('primary')),
        drop-shadow(0 0 0.4px get-color('tertiary-glare'))
      );
    }

    &:hover {
      @include apply-theme-color('color', get-color('primary'), get-color('secondary-glare'));
    }
  }

  #copyright {
    position: absolute;
    bottom: get-size('300');
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 11px;
    line-height: 11px;
    @include apply-theme-color('color', get-color('dark-glare'), get-color('light-shade'));
    opacity: 50%;
  }
}
