@use '../../functions' as *;
@use '../../mixins' as *;

.nav-link {
  color: currentColor;
  text-decoration: none;
  display: block;
  position: relative;
  padding: 0.5rem 1rem;
  text-align: right;
  transition: color 0.2s ease, background 0.2s ease;

  &:before {
    content: '';
    opacity: 0;
    display: block;
    position: absolute;
    background: get-color('secondary-glare');
    transition: opacity 0.2s ease;

    width: 0.5rem;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    margin-top: 0;
  }

  &:hover {
    @include apply-theme-color('background', get-color('light-shade'), get-color('dark-glare'));
    color: get-color('secondary-glare');

    &:before {
      opacity: 0.3;
    }
  }

  &[data-state='active'],
  &[aria-current='page'] {
    &:before {
      opacity: 1;
    }
  }

  @include media-query('md') {
    padding: 0;

    &:before {
      width: 100%;
      height: 0.25rem;
      top: 100%;
      left: 0;
      margin-top: 0.25rem;
    }

    &:hover {
      background: none;
      color: unset;
    }
  }
}
