{% assign owner = site.copyright.owner %}
{% assign start_year = site.copyright.startYear %}
{% assign current_year = "now" | date: "%Y" | to_integer %}

{% if start_year < current_year %}
  {% capture year %}{{ start_year }} - {{ current_year }}{% endcapture %}
{% else %}
  {% assign year = current_year %}
{% endif %}

<footer class="footer">
  <div class="footer__content">
    {% include 'partials/svg/logo-minimal.svg' %}
    {% include 'partials/site/navigation-links' %}
  </div>
  <span id="copyright">
    © {{ year }} {{ owner }}. All Rights Reserved.
  </span>
</footer>
