<a class="visually-hidden" href="#main-content">Skip to main content</a>
<header class="[ header ] [ wrapper ]">
  <a class="[ header-logo ]" href="/">
    {% include "partials/svg/logo.svg" %}
  </a>
  {% include "partials/site/navigation-links" %}
  {% include "partials/components/theme-toggle" %}
</header>
