@use '../../functions' as *;
@use '../../mixins' as *;

.cta {
  padding-inline: get-size('700');
  padding-block: get-size('500');

  background: get-color('secondary');
  color: white;
  text-align: center;
  max-width: 700px;
  margin-inline: auto;
  border-radius: get-size('400');
  border: 2px solid get-color('secondary-glare');
  box-shadow: 4px 4px 8px rgba(get-color('dark-glare'), 50%);
  
  &__title {
    font-size: get-size('600');
    font-weight: 700;
    line-height: 1.3;
    margin-top: 0;
  }
  
  &__text {
    line-height: 1.6;
    opacity: 0.9;
  }
  
  &__button {
    background: get-color('secondary');
    color: white;
    border: 2px solid white;

    &:hover {
      background: white;
      color: get-color('secondary');
      transform: translateY(-2px);
    }
  }

  &__subtext {
    font-size: get-size('300');
    line-height: 1.5;
    opacity: 0.85;
    margin-top: get-size('400');
  }

  @include media-query('md') {
    padding-block: get-size('700')
  }
}
