@use '../../functions' as *;
@use '../../mixins' as *;

// Testimonials-specific styling (extends generic carousel)
.testimonials {
  padding-block: get-size('600');

  @include media-query('md') {
    padding-block: get-size('800');
  }

  &__title {
    text-align: center;
    font-size: get-size('700');
    font-weight: 700;
    margin-bottom: get-size('700');
    line-height: 1.3;
    @include apply-utility('font', 'accent');
    @include apply-utility('leading', 'flat');

    @include media-query('md') {
      font-size: get-size('800');
      margin-bottom: get-size('800');
    }
  }

  // Carousel customizations for testimonials
  .carousel {
    &__container {
      max-width: 900px;
    }

    &__track {
      min-height: 400px;

      @include media-query('md') {
        min-height: 450px;
      }
    }

    &__slide {
      padding: get-size('600') get-size('400');
      max-width: 800px;
      margin: 0 auto;

      @include media-query('md') {
        padding: get-size('700') get-size('500');
      }
    }

    &__controls {
      margin-top: get-size('700');

      @include media-query('md') {
        margin-top: get-size('800');
      }
    }
  }

  // Testimonial content styling
  &__avatar {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 0 auto get-size('500');
    overflow: hidden;
    @include apply-theme-color('background', get-color('secondary'), get-color('secondary-glare'));
    border: 4px solid transparent;
    @include apply-theme-color('border-color', get-color('light-shade'), get-color('dark-shade'));

    @include media-query('md') {
      width: 120px;
      margin-bottom: get-size('600');
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__quote {
    font-size: get-size('400');
    line-height: 1.6;
    font-style: italic;
    text-align: center;
    margin: 0 0 get-size('500');
    @include apply-theme-color('color', get-color('dark'), get-color('light'));

    @include media-query('md') {
      font-size: get-size('500');
      line-height: 1.7;
      margin-bottom: get-size('600');
    }
  }

  &__author {
    text-align: center;
    font-size: get-size('300');
    font-style: normal;
    opacity: 0.85;
    @include apply-theme-color('color', get-color('dark-glare'), get-color('light-shade'));

    strong {
      font-weight: 700;
      display: block;
      margin-bottom: get-size('300');
      font-size: get-size('400');
      @include apply-theme-color('color', get-color('dark'), get-color('light'));
    }
  }
}
