@use '../functions' as *;
@use 'media-query' as *;
@use 'apply-theme-color' as *;

// Section title mixin
// Standardizes heading styles across page sections

@mixin section-title($centered: true, $color-style: 'primary') {
  font-size: get-size('700');
  font-weight: 700;
  line-height: 1.3;

  @if $centered {
    text-align: center;
  }

  @if $color-style == 'primary' {
    @include apply-theme-color('color', get-color('primary'), get-color('secondary-glare'));
  } @else if $color-style == 'default' {
    @include apply-theme-color('color', get-color('dark'), get-color('light'));
  }

  @include media-query('md') {
    font-size: get-size('800');
  }
}
