<a class="visually-hidden" href="#main-content">Skip to main content</a>
<header class="[ site-header ] [ wrapper ]">
  <a class="[ header-logo ]" href="/">
    {% include "partials/logo.svg" %}
  </a>
  {% include "partials/navigation-links" %}
  {% include "partials/theme-toggle" %}
</header>
