<a class="visually-hidden" href="#main-content">Skip to main content</a>
<header class="[ site-header ] [ wrapper ]">
  {% include "partials/logo.svg" %}
  {% include "partials/navigation-links" %}
</header>
